@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container{
  position: relative;
  height: 100vh;
  width: 100%;
  color: black;
}

.row{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor,
.preview {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview{
  border: 1px solid wheat;
}

.editor-input{
  height: 100%;
  width: 100%;
}
/* App.css */
.custom-quill-editor .ql-container {
  height: 200px; /* Adjust this value to set the desired height */
}

.custom-quill-editor .ql-editor {
  height: 100%; /* Make sure the editor takes the full height of the container */
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}
