@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* fonts css */
.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-poppins {
  font-family: 'Poppins', sans-serif;
}

.ql-font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.ql-font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.ql-font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
    content: 'Roboto';
    font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="poppins"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="poppins"]::before {
    content: 'Poppins';
    font-family: 'Poppins', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="quicksand"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="quicksand"]::before {
    content: 'Quicksand';
    font-family: 'Quicksand', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="ubuntu"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="ubuntu"]::before {
    content: 'Ubuntu';
    font-family: 'Ubuntu', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="montserrat"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="montserrat"]::before {
    content: 'Montserrat';
    font-family: 'Montserrat', sans-serif;
}
